[user]
	name = Yoshiki Vázquez Baeza
	email = yoshiki89@gmail.com
[log]
	decorate = full
[color]
	ui = true
[core]
	excludesfile = /Users/yoshikivazquezbaeza/.gitignore_global
    editor = vim
	autocrlf = input
[merge]
	tool = opendiff
[merge "tool.opendiff"]
	cmd = opendiff \"$REMOTE\" \"$LOCAL\" -merge \"$MERGED\"
[help]
	autocorrect = 11
[alias]
	s = status -su
	lol = log --graph --oneline --decorate --all
[push]
	default = simple
